/* settings */

// font variables
$font-base-size: 14px;

$font-normal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-icon: 'fontello';

// color variables
$opacity: 0.5;

$color-white: #fff;
$color-black: #000;

$color-text: #505050;

$color-border-light: #858587;
$color-border-dark: #000;

// positiong variables
$golden-ratio: 61.803398875%;

/* /settings */