// top row
.top-row {
	position: relative;
}

.top-nav-list {
	text-transform: lowercase;
	text-align: center;

	.page,
	.logo,
	.current-edition {
		width: 16%;
	}

	.page {
		text-align: right;
	}

	.current-edition {
		text-align: left;
	}

	.collaborators,
	.where {
		position: absolute;
		top: 27px;
		right: 0;
		width: 33%;
		text-align: right;
		text-transform: lowercase;
	}
}

.logo {
	font-size: em(25);
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	letter-spacing: normal;

	a {
		color: $color-black;
		&:hover {
			text-decoration: none;
		}
	}
}

.logo-open,
.logo-close {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: em(42, 25);
}

.collaborators {
	.dropdown-trigger {
		display: inline-block;
		padding-bottom: 0.333em;

		&:hover,
		&:focus {
			text-decoration: none;

			~ .dropdown {
				display: block;
			}
		}
	}

	.dropdown {
		position: absolute;
		display: none;

		&:hover,
		&:focus {
			display: block;
		}
	}
}

.collaborators-list {
	padding: 0.5em;
	right: -0.5em;
	text-align: right;
	background-color: rgba($color-white, 0.8);
	border: 1px solid $color-black;
}

.collaborators-list-item {
	margin-top: 0.25em;

	&:first-child {
		margin-top: 0;
	}
}

// /top row