// middle row
.middle-row {
	margin-bottom: em(20);
	padding-bottom: em(20);
	border-bottom: 1px solid #aaa;

	.root &,
	.contact & {
		padding-bottom: 0;
		border-bottom: none;
	}

	.editions &,
	.collaborators & {
		padding-bottom: 0;
	}
}

// shared between containers
.media-container,
.homepage-container {
	min-height: em(450);
}

.media-container,
.homepage-container {
	border: 2px solid $color-border-dark;
}

.media-container {
	.item & {
		margin-left: 25%;
	}

	img,
	object,
	video,
	iframe {
		display: block;
		width: 100%;
		height: auto;
	}
}

.description-text {
	margin-top: 1.5em;
	text-align: justify;
	letter-spacing: normal;
}

// /middle row